<label for="{{ name }}-id" class="form-label">{{ label }}</label>
{% if true ~%}
<select
  class="auto-complete form-control"
  id="{{ name }}-id"
  name="{{ name }}"
  aria-describedby="{{ name }}-help"
  {% if disabled%}disabled{%endif%}
  data-to_table="{{ to_table }}"
  {% for col in cols %}
    data-{{ loop.index0 }}-to="{{ col.to_col}}" data-{{ loop.index0 }}-from="{{ col.from_col}}"
  {% endfor %}
  {% if nullable %}data-nullable="true"{% endif %}
  {% if multiple %}multiple{% endif %}
  >
  {% if let Some(choice) = choice %}<option value="{{ choice.value }}" selected>{{ choice.label }}</option>{% endif %}
</select>

{% if let Some(help_text) = help_text %}
<div id="{{ name }}-help" class="form-text">
  {{ help_text }}
</div>
{% endif %}

{%~ endif %}
<p class="form-errors d-none text-danger"></p>