{% extends "base.jinja" %}

{% block content %}
<div class="row">
  <div class="col-sm-3 col-md-2">
    <div class="p-4">
      {% include "sidebar.jinja" %}
    </div>
  </div>
  <div class="col-sm-9 col-md-10">
    <div class="container-sm p-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {% block breadcrumb %}
            <li class="breadcrumb-item"><a href="{{ site.sub_path }}/">Top</a></li>
            <li class="breadcrumb-item active"><a href="{{ site.sub_path }}/{{ model_name }}/">{{ model_name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page_id }}</li>
          {% endblock breadcrumb %}
        </ol>
      </nav>
      <form id="{{ form_id }}" {% if let Some(action)=action %}action="{{ action }}" {% endif %} method="{{ method }}">
        <div id="form-alert" class="alert alert-danger d-none" role="alert">

        </div>
        {% for field in fields %}
        <div class="mb-3">
          {{ field|safe }}
        </div>
        {% endfor %}
        <div class="p-3">
          {% block form_buttons %} {% endblock %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>{% include "form-submit-handler.js" %}</script>
  <script>{% include "clear-input-handler.js" %}</script>
  <script>{% include "datetime-input-handler.js" %}</script>
  <script>{% include "auto-complete-handler.js" %}</script>
{% endblock %}
