{% extends "base.jinja" %}

{% block head %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12 col-sm-4 col-md-3 col-xl-2">
    <div class="p-4">
      {% include "sidebar.jinja" %}
    </div>
  </div>
  <div class="col-12 col-sm-8 col-md-9 col-xl-10">
    <div class="container-md p-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ site.sub_path }}/">Top</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ model_name }}</li>
        </ol>
      </nav>
      <div class="row p-3">
        <div class="col-12 col-sm-9 mb-2 mb-sm-0">
          <form class="me-3 row" action="?foo=bar">
            {% for (key, values) in query.filter %}
              {% for value in values %}
                <input type="hidden" name="{{ key }}" value="{{ value }}"/>
              {% endfor %}
            {% endfor %}
            <div class="col-9"><input class="form-control" name="_q" value="{% for q in query.queries %}{{ q }} {% endfor %}"/></div>
            <div class="col-3"><button class="col-auto btn btn-primary" type="submit">search</button></div>
          </form>
        </div>
        <div class="col-12 col-sm-3 d-flex justify-content-end">
          <a href="{{ site.sub_path }}/{{ model_name }}/create/" class="btn btn-primary">
            + add
          </a>
        </div>
      </div>
      <hr />
      <div class="p-3">
        <div class="overflow-auto">
        <table class="table table-hover">
          <thead>
            <tr>
              {% for key in keys%}
              <th scope="col">{{ key }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr class="clickable-row" data-href="{{ row.0 }}" style="cursor: pointer;">
              {% for col in row.1 %}
              {% if loop.first %}
              <th scope="row"><a href="{{ row.0 }}">{{ col }}</a></th>
              {% else %}
              <td>{{ col }}</td>
              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        {% include "pagination.jinja" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script>
 window.addEventListener('load', function() {
  document.querySelectorAll('.clickable-row').forEach(function(e) {
    let url = e.attributes["data-href"].value;
    e.addEventListener("click", function() { window.location.href = url; });
  });
})
</script>
{% endblock %}