<div class="d-flex justify-content-between">
<nav aria-label="Page navigation">
{% if pages.len() > 1 %}
  <ul class="pagination">
    {% for page in pages %}
      {% if let Some(link) = page.link %}
        <li class="page-item {% if page.is_active %}active{% endif %}" aria-current="page">
          <a class="page-link" href="{{ link }}">{{ page.label }}</a>
        </li>
      {% else %}
        <p class="p-1">...</p>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
</nav>
<div>
<p>({{ query.offset }}-{{ query.offset + query.limit }} / {{ total }})</p>
</div>
</div>