{% extends "base-form.jinja" %}

{% block form_buttons %}
<div class="d-flex justify-content-between">
    <div><a href="{{ site.sub_path }}/{{ model_name }}/delete/{{ page_id }}" class="btn btn-danger">delete</a></div>
    <div>
        <button id="{{ form_id }}-submit-cont" type="button" class="btn btn-primary me-4">Save and continue editing</button>
        <button id="{{ form_id }}-submit" type="button" class="btn btn-primary">Save</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% call super() %}
<script>
    register_submit_callback("{{ form_id }}-submit-cont", "");
    register_submit_callback("{{ form_id }}-submit", "../../");
</script>
{% endblock%}
